<form action="/results" method="POST" >
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>CEP: </p>
    <input type="text" name="cep" id="cep" maxlength="9" value="">
    <p>Renda Mensal: </p>
    <input type="number" name="renda">
    <p>Numero de dependentes: </p>
    <input type="number" name="numDep">
    <input type="submit" value="Avaliar dados" onSubmit="pesquisacep(cep)" >
</form>